Repository youngeek-0410/share-times, pull requests merged in 2021-09, with the labels that each got.

#7 Issue/1 create backend environment
  .gitignore
  django/Dockerfile
  django/account/__init__.py
  django/account/admin.py
  django/account/apps.py
  django/account/migrations/0001_initial.py
  django/account/migrations/__init__.py
  django/account/models.py
  django/account/tests.py
  django/account/views.py
  django/config/__init__.py
  django/config/asgi.py
  django/config/settings/__init__.py
  django/config/settings/base.py
  django/config/settings/local.py
  django/config/settings/production.py
  django/config/settings/staging.py
  django/config/urls.py
  django/config/wsgi.py
  django/core/apps.py
  django/core/models/__init__.py
  django/core/models/abstract_base.py
  django/entrypoint.sh
  django/manage.py
  django/requirements.txt
  django/uwsgi.ini
  docker-compose.yml
  markdownlint.yaml
  nginx/Dockerfile
  nginx/nginx.conf
  nginx/uwsgi_params
  package-lock.json
  package.json
  postgres/Dockerfile
  pyproject.toml
  references/er.drawio
  requirements.txt
  setup.cfg
Labels: task:backend, task:infrastructure

#11 feat: list Card template #4
  frontend/components/pages/list/Card.tsx
  frontend/pages/api/listResponse.ts
  frontend/pages/list.tsx
Labels: task:frontend, type:feature

#13 feat: SubmitForm UI #6
  frontend/components/pages/submit-form/MinutesInputForm.tsx
  frontend/pages/submit-form.tsx
Labels: task:frontend, type:feature

#14 feat: login UI #5
  frontend/pages/login.tsx
Labels: task:frontend, type:feature

#27 feat: add organization_type field #26
  django/account/admin.py
  django/account/migrations/0002_organization_type.py
  django/account/models.py
  django/account/organization_type.py
  django/account/serializers.py
Labels: task:backend, type:feature

#28 Issue/24 change api response format
  .vscode/settings.json
  django/timemanager/serializers/waiting_time_history.py
  django/timemanager/views/waiting_time_history.py
Labels: task:backend, type:feature
