Repository youngeek-0410/share-times, pull requests merged in 2021-10, with the labels that each got.

#30 feat: search and sort UI #25
  frontend/components/pages/list/CardList.tsx
  frontend/components/pages/list/ListControlBar.tsx
  frontend/pages/index.tsx
Labels: task:frontend, type:feature

#33 Issue/21 list api
  frontend/components/navigator/Header.tsx
  frontend/components/navigator/LoadingMessage.tsx
  frontend/components/pages/list/Card.tsx
  frontend/components/pages/list/CardList.tsx
  frontend/components/pages/list/ListControlBar.tsx
  frontend/components/pages/submit-form/MinutesInputForm.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/api/listResponse.ts
  frontend/pages/index.tsx
  frontend/pages/list.tsx
  frontend/pages/login.tsx
  frontend/types/WaitingTimeHistories.d.ts
Labels: task:frontend, type:feature

#34 feat: background color for Cards #32
  frontend/components/pages/list/Card.tsx
  frontend/styles/CardBgColors.ts
Labels: task:design, task:frontend, type:feature

#35 Issue/31 change api response when no entry
  django/account/views.py
  django/timemanager/views/waiting_time_history.py
Labels: task:backend, type:enhancement

#37 feat: add nodata message #36
  frontend/components/pages/list/Card.tsx
  frontend/pages/list.tsx
Labels: task:frontend, type:feature

#42 Issue/38 logic of login
  frontend/pages/api/getOrganizations.ts
  frontend/pages/api/hello.ts
  frontend/pages/api/listResponse.ts
  frontend/pages/api/login.ts
  frontend/pages/login.tsx
Labels: task:frontend, type:feature
